<!DOCTYPE html>
<script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
<link href="http://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
<script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draw History</title>
</head>
<body>
<div>
    <img src="/static/ee.jpg" class="img-thumbnail">
</div>
<div class="breadcrumb">
    <li><a href="/index/">Most Recent Draw</a></li>
    <li><a href="/draws/">Score Trend</a></li>
    <li><a href="/pool/">Candidate Pool </a></li>
    <li><a href="/table/">Tabulated History</a></li>
</div>
<br>
<div class="container">
    <div class="col-xs-4"></div>
    <form action="/draws/" method="POST">
        {% csrf_token %}
        <div class="col-xs-3">
            <select class="form-control" name="draw_range">
                <option selected="selected" value="0">Choose number of draws...</option>
                <option value="4">Past 4 draws</option>
                <option value="8">Past 8 draws</option>
                <option value="16">Past 16 draws</option>
                <option value="32">Past 32 draws</option>
                <option value="-1">All times</option>
            </select>
        </div>
        {# <input type="submit" value="View">#}
        <div class="col-xs-3">
            <button type="submit" class="btn btn-info">View</button>
        </div>
    </form>
</div>
<br>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div style="width:800px;height:480px;margin:0px auto">
    <canvas id="myChart" width={{wid}} height={{hei}}></canvas>
</div>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        {#You have to specify that the variable is safe to render, otherwise no chart is plotted#}
        labels: {{ id|safe}},
        datasets: [{
                label: 'Score',
                data: {{ score }},
                yAxisID: 'A',
                borderColor:'blue',
                borderWidth: 2,
                pointBackgroundColor: 'blue',
                pointRadius: 3,
                pointHoverBackgroundColor: 'red',
                pointHoverBorderColor: 'red',
                pointHoverBorderWidth: 2,
                pointHoverRadius: 5,
                fill: false,
            },
            {
                label:'No. of Invitation',
                data: {{ pop }},
                yAxisID: 'B',
                borderColor:'white',
                borderWidth: 0,
                pointRadius: 0,
                pointHoverBackgroundColor: 'green',
                pointHoverBorderColor: 'green',
                pointHoverBorderWidth: 0,
                pointHoverRadius: 0,
                fill: false,
            }
        ]
    },
    options: {
        title: {
            display: true,
            text: {{ chartTitle|safe }},
            boxWidth: 0,
            fontSize: 30,
            fontColor: 'black',
        },
        legend: {
            display: false,
        },
        scales: {
            yAxes: [
                {
                    id: 'A',
                    type: 'linear',
                    position: 'left',
                    scaleLabel: {
                        display: true,
                        fontSize: 20,
                        fontStyle: 'bold',
                        labelString: 'Draw score',
                    },
                    ticks: {
                        fontSize: 15,
                        suggestedMin: 440,
                    }
                },
                {
                    id: 'B',
                    type: 'linear',
                    position: 'right',
                    scaleLabel: {
                        display: true,
                        fontSize: 20,
                        fontStyle: 'bold',
                        labelString: 'No. of Invitation',
                    },
                    ticks: {
                        fontSize: 15,
                        suggestedMin: 3000,
                    }
                }
            ],
            xAxes: [{
                scaleLabel: {
                    display: true,
                    fontSize: 20,
                    fontStyle: 'bold',
                    labelString: 'Draw ID',
                },
                ticks: {
                    fontSize: 15
                }
            }],
        },
        tooltips: {
            intersect: 'point',
            mode: 'index'
        }
    }
});
</script>

</body>
</html>