<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
<div style="width:100%;text-align:center">
    <nav>
        <a href="/index/">Recent Draw</a> |
        <a href="/draws/">Draw History</a> |
        <a href="/pool/">Candidate Pool</a> |
        <a href="/table/">Tabulated History</a>
    </nav>
</div>
<br>
<br>
<div style="width:100%;text-align:center">
    <span style="font-size:35pt"><b>Detailed Draw History Information </b></span>
    <br>
    <br>
    <br>
</div>
<br>
<style>
    table tr td {
        font-size: 18px;
    }
</style>
<div style="width:100%;text-align:center">
    <table border="1" align="center">
        <thread>
            <tr>
                <td>Draw ID</td>
                <td>Date</td>
                <td>Score</td>
                <td>No. of Invitations</td>
            </tr>
        </thread>
        {% for line in info %}
            <tr>
                <td>{{ line.drawid }}</td>
                <td>{{ line.date }}</td>
                <td>{{ line.score }}</td>
                <td>{{ line.population }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>